// Map and filters styling
.map-container {
  #map {
    height: 572px;

    p {
      margin: 0;
      padding: 0;
    }
  }

  .filters {
    box-shadow: 2px 0 5px rgba(0,0,0,.2);
    z-index: 1;
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      padding: 10px 0;

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  h2 {
    + ul {
      margin: 20px 0 0;
      > li {
        border-top: 1px solid $brand-secondary;
      }
    }
  }

  .list-group-item {
    border: none;
    padding: 5px 0;
    font-size: 14px;
  }

}